<?xml version='1.0'?>
<manifest xmlns:a='http://schemas.android.com/apk/res/android' package='io.reconquest.app' a:versionCode='0' a:versionName='0'>
    <application a:label='ebiten'>
        <activity a:name='io.reconquest.app.MainActivity' a:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
             <intent-filter>
                <category a:name='android.intent.category.LAUNCHER'/>
                <action a:name='android.intent.action.MAIN'/>
             </intent-filter>
        </activity>
    </application>
</manifest>
